
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:opsz,wght@17..18,400..700&display=swap');

.main {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ffd1f3;

  font-family: 'Google Sans', sans-serif;

  padding: 20px;
  box-sizing: border-box;
}
