@import url('https://fonts.googleapis.com/css2?family=Google+Sans:opsz,wght@17..18,400..700&display=swap');

.main {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: #ffd1f3;

  font-family: 'Google Sans', sans-serif;

  box-sizing: border-box;
}

.container {
  min-width: 800px;
  max-width: 1000px;
  height: fit-content;
  display: flex;
  flex-direction: column;

  background-color: #ffffff;

  border-radius: 15px;

  box-shadow: 0 1px 8px rgba(3, 3, 3, 0.25);

  padding: 40px;
  box-sizing: border-box;
  align-self: center;
  margin: 20px 0;

}

.titulo {
  text-align: left;
}

.conteudo {
  width: 100%;
}

.card {
  margin-top: 20px;
  transition: opacity 0.05s;
  border-radius: 15px;
  background-color: #ffffff;

}

.card:active {
  opacity: 0.8;
}


.imagemAdicionar{
min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: column;

  background-color: transparent;

  border-radius: 15px;

  box-shadow: 0 1px 8px rgba(3, 3, 3, 0.25);

  box-sizing: border-box;
  
  flex-wrap: wrap;
  border-width: 0px;
}

.texto {
  font-size: 10px;
  text-align: center;
  align-self: center;
  margin-top: 20px;
}

.tela {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.329);
  position: absolute;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.containerInput {
  min-width: 800px;
  max-width: 1000px;
  min-height: 60vh;

  display: flex;
  flex-direction: column;

  background-color: #ffffff;

  border-radius: 15px;

  box-shadow: 0 1px 8px rgba(3, 3, 3, 0.25);

  padding: 40px;
  box-sizing: border-box;
  align-self: flex-start;
  margin: auto 0;

}

.botoes {
  margin-top: auto;
  gap: 20px;
  display: flex;
  justify-content: flex-end;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 80%;
  padding: 13px;
  border-radius: 5px;
  border-width: 0px;
  box-shadow: 1px 0px 3px black;
}

.input.botao:active {
  border-width: 0px;
}

.botao {
  border-width: 0px;
  background-color: #be2929;
  box-shadow: 1px 1px 3px black;
  padding: 10px;
  border-radius: 5px;
  align-self: flex-end;
  width: 30%;


}


.botao:active {
  opacity: 0.8;
}


.textoBotao {
  color: #ffffff;
  font-weight: 600;
}

.criar {
  background-color: #46751a;
}

.item {
  list-style: none;
}

.lista {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.itemLista {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.658);
  width: 60%;
  padding: 20px;
  border-radius: 10px;
  border-width: 0px;
  font-family: 'Google Sans', sans-serif;
  text-align: left;
  font-size: 14px;
  transition: 0.1s;
  box-sizing: border-box;
}

.itemLista:hover {
  width: 61%;
  padding: 25px;
  transition: 0.1s;
}

.itemLista:active {
  opacity: 0.5;
}

.imagem {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
  vertical-align: middle;
  align-self: center;
  margin: 0 auto;
}

.botaoImagem{
  border-width: 0px;
  background-color: transparent;
  justify-content: center;
  border-radius: 20px;
}

.botaoImagem:active{
  opacity: 0.5;
}

